---
import Article from "@components/Article.astro";
import PageHeading from "@components/PageHeading.astro";
import WritingsLayout from "@layouts/WritingsLayout.astro";

const pageTitle = "Writings";

const allArticles = await Astro.glob("./*.md");
---

<WritingsLayout title={pageTitle}>
  <PageHeading text={pageTitle} />
  <ul>
    {
      allArticles.map((a) => (
        <li>
          <Article
            url={a.url}
            title={a.frontmatter.title}
            description={a.frontmatter.description}
          />
        </li>
      ))
    }
  </ul>
</WritingsLayout>
